#logo {
  background-color: rgba(255, 165, 0, 1);
  width: 10vw;
}
h2 {
  font-size: 25px;
  color: lime;
}
body {
  background-color: darkslategray;
}
a {
  color: rgb(251, 72, 192);
}
.header {
  padding: 15px;
  text-align: center;
  background: gold;
  color: white;
  font-size: 30px;
}
